.body2{
	background-image: url(../images/ip.jpg);
background-repeat: no-repeat;
min-height:685px 

max-width: 1270px;
	background-size: cover;
}
.flex-container{font-family: "Times New Roman", Times, serif;
	position: absolute;
	top: 20%;
	left: 25%;
	}
.one{
font-size: 120%;
	display: inline-block;
background-color:#1E90FF;
margin-right: 60px;
max-width: 220px;
padding: 20px 20px 20px 20px;
}
.btnn{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	background-color: grey;
	padding:6px 20px 6px 20px;
}